$arial_font: "Arial", sans-serif;
$gotham_font: "Gotham", sans-serif;
$gotham_book_font: "Gotham Book", sans-serif;
$main_color: #40548a;
$color_white: #ffffff;
$color_black: #000000;
$menu_items_color: #0c3663;
$menu_items_font_size: 10px;
$search_input_border_color: #cecfcf;
$header_buttons_bg_color: #2a2a2a;
$slider_title_font_size: 22px;
$slider_text_font_size: 12px;
$slider_details_button_size: 10px;
$content_title_font_size: 24px;
$post_title_font_size: 16px;
$post_text_font_size: 12px;
$footer_content_font_size: 10px;
$footer_content_title_font_size: 16px;
$mobile_menu_font_size: 16px;